.alt-header {
	padding: var(--horizontal-space);
	margin-bottom: 15px;
	padding-top: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.alt-header__title {
	font-size: 28px;
	font-weight: 600;
}

.alt-header__column:first-child {
	margin-right: auto; /*오른쪽애서 멀어질 수 있는 최대한 으로 멀어진다*/
}
.alt-header__column:last-child {
	margin-left: auto; /*왼쪽애서 멀어질 수 있는 최대한 으로 멀어진다*/
}
