.icon-row {
	display: flex;
	justify-content: space-between;
}

.icon-row__icon {
	display: flex;
	flex-direction: column; /* colum 은 vertical row 는 horizontal*/
	align-items: center;
}

.icon-row__icon i {
	font-size: 35;
	background-color: blue;
	color: blueviolet;
}
.ft-big {
	font-size: 35px;
}
