.nav {
	position: fixed;
	bottom: 0px;
	width: 100%;
	background-color: #f4f7e6;
	padding: 20px 50px;
	box-sizing: border-box;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.nav__list {
	display: flex;
	justify-content: space-between;
}

.nav__link {
	color: #270f04;
	position: relative;
}
.nav__notification {
	position: absolute;
	left: 15px;
	bottom: 15px;
}
.nav__notification2 {
	background-color: lightcoral;
	width: 10px;
	height: 10px;
	display: block;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 30px;
	bottom: 25px;
}
